# **Python com Pandas**

In [1]:
#Importar bíblioteca
import pandas as pd

In [7]:
df = pd.read_csv("/content/drive/MyDrive/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
#5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [19]:
#Renomeando para portugues as colunas
df.rename(columns={"country": "País", "continent": "Continente", "year": "Ano", "lifeExp": "Expec. de vida", "gdpPercap": "Renda PerCapita"})

             País Continente   Ano  Expec. de vida       pop  Renda PerCapita
0     Afghanistan       Asia  1952          28.801   8425333       779.445314
1     Afghanistan       Asia  1957          30.332   9240934       820.853030
2     Afghanistan       Asia  1962          31.997  10267083       853.100710
3     Afghanistan       Asia  1967          34.020  11537966       836.197138
4     Afghanistan       Asia  1972          36.088  13079460       739.981106
...           ...        ...   ...             ...       ...              ...
3307     Zimbabwe     Africa  1987          62.351   9216418       706.157306
3308     Zimbabwe     Africa  1992          60.377  10704340       693.420786
3309     Zimbabwe     Africa  1997          46.809  11404948       792.449960
3310     Zimbabwe     Africa  2002          39.989  11926563       672.038623
3311     Zimbabwe     Africa  2007          43.487  12311143       469.709298

[3312 rows x 6 columns]

In [21]:
#Renomeando de fato
df = df.rename(columns={"country": "País", "continent": "Continente", "year": "Ano", "lifeExp": "Expec. de vida", "gdpPercap": "Renda PerCapita"})

In [14]:
#Linhas, colunas
df.shape

(3312, 6)

In [22]:
#Ver colunas
df.columns

Index(['País', 'Continente', 'Ano', 'Expec. de vida', 'pop',
       'Renda PerCapita'],
      dtype='object')

In [23]:
#Ver tipos das colunas
df.dtypes

País                object
Continente          object
Ano                  int64
Expec. de vida     float64
pop                  int64
Renda PerCapita    float64
dtype: object

In [24]:
#Dados estatísticos da base de dados
df.describe()

               Ano  Expec. de vida           pop  Renda PerCapita
count  3312.000000     3312.000000  3.312000e+03      3312.000000
mean   1980.301630       65.246871  3.161489e+07     11317.115805
std      16.927294       11.768412  1.041193e+08     11369.142739
min    1950.000000       23.599000  5.941200e+04       241.165876
25%    1967.000000       58.337500  2.678572e+06      2514.625266
50%    1982.000000       69.610000  7.557218e+06      7838.505123
75%    1996.000000       73.657750  1.958522e+07     17357.879170
max    2007.000000       82.670000  1.318683e+09    113523.132900

In [27]:
#Ultimas linhas
df.tail()

          País Continente   Ano  Expec. de vida       pop  Renda PerCapita
3307  Zimbabwe     Africa  1987          62.351   9216418       706.157306
3308  Zimbabwe     Africa  1992          60.377  10704340       693.420786
3309  Zimbabwe     Africa  1997          46.809  11404948       792.449960
3310  Zimbabwe     Africa  2002          39.989  11926563       672.038623
3311  Zimbabwe     Africa  2007          43.487  12311143       469.709298

In [29]:
#Fazer um filtro
df["Continente"].unique()
# [Coluna].retorne valores unicos da coluna

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [34]:
#Atribuir uma tabela com resultados de onde "Continente" == "Oceania"
Oceania = df.loc[df["Continente"] == "Oceania"]
#Var = localizar onde "Continente" == "Oceania"

In [35]:
#Mostra 5 primeiras linhas da tabela com "Continente" == "Oceania"
Oceania.head(5)

     País Continente   Ano  Expec. de vida     pop  Renda PerCapita
975  Fiji    Oceania  1962          56.494  421869      2039.393277
976  Fiji    Oceania  1967          58.607  485000      2170.073285
977  Fiji    Oceania  1972          60.642  544000      2797.759484
978  Fiji    Oceania  1977          62.669  599339      3182.569600
979  Fiji    Oceania  1982          64.683  658906      3209.257468

In [37]:
df.groupby("Continente")["País"].nunique()
  #agrupe por (coluna para agrupamento)["Colunas agrupadas"].contagem distinta

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64

In [39]:
#Média da Expec. de vida para cada país
df.groupby("País")["Expec. de vida"].mean()
# mean = média

País
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: Expec. de vida, Length: 187, dtype: float64